@use './colors' as *;;

$spacer-jumbo: 3.5rem; // 56px
$spacer-xxxl: 2.25rem; // 36px
$spacer-xxl: 1.5rem; // 24px
$spacer-xl: 1.25rem; // 20px
$spacer-l: 1.125rem; // 18px
$spacer-m: 1rem; // 16px
$spacer-s: .875rem; // 14px
$spacer-xs: .75rem; // 12px
$spacer-xxs: .5rem; // 8px