@use '../base/' as *;

.current-weather {
  display: inline-block;
  padding: $spacer-l;
  min-width: 300px;

  border: 2px solid $clr-secondary;
  border-radius: 6px;

    &__time,
    &__overview-sky {
      white-space: nowrap;
    }

    &__wrapper {
      @include flex-column($spacer-s);
    }

    &__top {
      @include flex-column($spacer-xs);
    }

    &__overview {
      @include flex-center-between;
      gap: $spacer-s;
    }

    &__details {
      @include flex-center-between;
    }
}



//* ================
//* Typograhpy
//* ================

.current-weather {
  &__location {
    font-family: $ff-inter;
    font-size: $fs-36;
    font-weight: 600;
  }

  &__time {
    font-family: $ff-inter;
    font-size: $fs-24;
    font-weight: 500;

  }

  &__overview {
    font-family: $ff-nunito;
    font-size: $fs-26;
    font-weight: 500;
  }

  &__bottom {
    font-family: $ff-inter;
  }

  &__details {
    font-size: $fs-24;
    font-weight: 500;

      span {
        font-size: $fs-20;
        font-weight: 400;
      }
  }
}