:root {
  --fs-xl: 2.2em;
  --fs-l: 1.3em;

  --clr-accent: #ED9B31;
  --clr-accent--hover: #d58c2c;
}

img {
  max-width: 100%;
}

body {
  background: #56CCF2;  /* fallback  */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); 
  background: linear-gradient(to right, #2F80ED, #56CCF2); 
  background-attachment: fixed;
  color: #fff;
}

/* 
===============
Main Card
===============
*/

.main-card {

  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);

  max-width: 1024px;
}

.card-inner-wrapper {
  justify-content: space-between;
}


/* 
==============
Left Side
==============
*/

.main-card__left {
  width: 35%;
  border-right: 1px solid #fff;
  padding-right: 1rem;

}

.weather-icon {
  width: 100px;
}

.weather-now__temperature {
  align-self: center;
}

.inner-title {
  font-size: var(--fs-xl);
}

.weather-now {
 justify-content: space-between;
 font-size: var(--fs-l);
 font-weight: 700;
}

.weather-now__status {
  align-self: center;
}

.weather-now__details {
  font-size: var(--fs-l);
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 1rem;
}

.weather-now__badge {
  background-color: var(--clr-accent);
  font-size: .65em;
}


/* 
==============
Right side
=============
*/

.weather-today__title {
  font-size: var(--fs-xl);
}

.main-card__right {
  width: 63%;
}


.weather-today-wrapper {
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
  font-size: 1.5em;
}

.today-times {
  font-size: var(--fs-l);
  font-weight: 500;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* 
===========
Modal
===========
*/

.modal-content {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.form-control,
.form-select {
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.btn-modal {
  background-color: var(--clr-accent);
  color: #fff;
  font-weight: 700;
  border: none !important;
  display: block;
  width: 13rem;
  padding-block: 1rem;
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: var(--clr-accent--hover) !important;

}

.modal-save-button {
  background-color: var(--clr-accent) !important;
  color: #fff !important;
  border: none !important;
  width: 50%;
}

.modal-save-button:hover,
.modal-save-button:focus {
  border: none !important;
  background-color: var(--clr-accent--hover) !important;
}

.change-location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 
==================
Responsive Layout
===================
 */


/* Tablets */

@media only screen and (max-width: 1024px) {

  .current-time {
    margin-bottom: 1rem;
  }

  .card-inner-wrapper {
    flex-direction: column;
    margin-top: .5rem !important;
  }
  
  .inner-title {
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }
  
  .current-time {
    margin-top: 1rem !important;
  }
  
  .main-card__left {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: none;
    padding: 0;
  }

  .weather-now__details {
    margin-bottom: 1rem;
  }
  
  
  .main-card__right {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .weather-today__title {
    border-top: 1px solid #fff;
    padding-top: 2rem;
  }
  
  .weather-today-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .today-times {
    padding: .5rem 7rem;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  
  .today-times:not(:first-child) {
    margin-top: 1rem;
  }
  
}

/* Phones */

@media only screen and (max-width : 768px) {

  .weather-today-wrapper {
    flex-direction: column;
  }

  .today-times {
    padding: .5rem 3rem;
  }

  .today-times:not(:first-child) {
    margin-bottom: 1rem;
  }
}
