img {
  max-width: 100%;
}

body {
  background: #56CCF2;  /* fallback  */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); 
  background: linear-gradient(to right, #2F80ED, #56CCF2); 
  background-attachment: fixed;
  color: #fff;
}



/* 
===============
Main Card
===============
*/

.main-card {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
}

.card-inner-wrapper {
  justify-content: space-between;
}



/* 
==============
Left Side
==============
*/

.main-card__left {
  flex-direction: column;
  width: 35%;
  border-right: 1px solid #fff;
  padding-inline: 1rem;
}

.now-icon {
  justify-content: space-between;
}

.weather-icon {
  width: 100px;
}

.weather-now__temperature {
  align-self: center;
}

.weather-now {
 justify-content: space-between;
 font-size: 1.6em;
 font-weight: 700;
}

.weather-now__status {
  align-self: center;
}

.weather-now__details {
  font-size: 1.5em;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-now__badge {
  background-color: #ED9B31;
  font-size: .65em;
}


/* 
==============
Right side
=============
*/

.main-card__right {
  width: 63%;
}

.today-times {
  font-size: 2.2em;
  font-weight: 500;
}

.today-temps {
  font-size: 1.8em;
  font-weight: 500;
}


/* 
===========
Modal
===========
*/


.modal-content {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.form-control {
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.btn-modal {
  background-color: #ED9B31;
  color: #fff;
  font-weight: 700;
  border: none !important;
  display: block;
  width: 13rem;
  padding-block: 1rem;
}

.btn-modal:focus {
  background-color: #ED9B31 !important;
}

.btn-modal:hover {
  background-color: #d58c2c !important;
}

.modal-save-button {
  background-color: #ED9B31 !important;
  border: none !important;
  width: 50%;
}

.modal-save-button:hover,
.modal-save-button:focus {
  border: none !important;
  background-color: #d58c2c !important;
}

.change-location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}