@use '../base/' as *;

body {
  background-color: $clr-primary;
}

.weather {
  padding: $spacer-jumbo $spacer-m;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $spacer-jumbo;
}

@media screen and (max-width: 768px) {
  .weather {
    justify-content: center;
  }
}